@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
:root {
  --primary: hsl(0, 0%, 0%);
  --Pale-Cyan: hsl(193, 100%, 96%);
  --Dark: hsl(0, 0%, 0%);
  --Blue: hsl(0, 0%, 76%);
}

* {
  padding: 0px;
  font-family: 'Muli', sans-serif;
}

.landing p {
  color: var(--Dark);
}

p {
  font-size: 18px;
  font-weight: 400;
  font-family: 'Muli', sans-serif;
  color: var(--Blue);
}

h1 {
  text-align: none;
  font-weight: 600;
  font-family: 'Muli', sans-serif;
}

.button-sec {
  width: 315px;
  height: 54px;
  border-radius: 16px;
  border: 0px;
  color: white;
  background: rgb(64, 25, 109);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  font-size: 18px;
  font-weight: 700;
  margin-top: 19px;
  box-shadow: rgba(64, 25, 109, 0.25) 0px 4px 10px;
  font-size: 16px;
  transition: all 0.6s ease 0s;
}
.button-sec:hover {
  background-color: rgba(64, 25, 109, 0.25) 0px 4px 10px;
  transform: translate3d(0,-3px,0);
}
span {
  font-size: 25px;
}

.solo-card {
  position: relative;
  bottom: -6rem;
  height: 12rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  margin-left: 290px;
  margin-right: 290px;
  border-radius: 12px;
  background: url(../../assets/pattern.jpg);
  z-index: 10000;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.solo-card p {
  color: var(--Dark);
  font-weight: 700;
  font-family: 'Muli', sans-serif;
}

.footer {
  position: relative;
  bottom: 0;
  min-height: 20rem;
  background-color: var(--Dark);
  display: flex;
  flex-flow: row wrap;
  padding: 106px 30px 20px 30px;
  color: #fff;
}
.newsletter {
    width: 363px;
    height: 3rem;
    padding: 0.5rem !important;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

.footer > * {
  flex: 1 100%;
}

.footer__addr {
  margin-right: 1.25em;
  margin-bottom: 0em;
}

.footer__logo {
  font-family: 'Muli', sans-serif;
  font-weight: 400;
  text-transform: lowercase;
  font-size: 1.5rem;
}

.footer__addr h2 {
  /* margin-top: 1.3em; */
  font-size: 15px;
  font-weight: 400;
}

.nav__title {
  font-weight: 400;
  font-size: 15px;
}

.footer address {
  font-style: normal;
  color: #999;
}

.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  max-width: max-content;
  background-color: rgb(33, 33, 33, 0.07);
  border-radius: 100px;
  color: #2f2f2f;
  line-height: 0;
  margin: 0.6em 0;
  font-size: 1rem;
  padding: 0 1.3em;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.footer__nav {
  display: flex;
  flex-flow: row wrap;
}

.footer__nav > * {
  flex: 1 50%;
  margin-right: 1em;
}

.nav__ul a {
  color: #999;
}

.nav__ul--extra {
  column-count: 2;
  column-gap: 1.25em;
}

.legal {
  display: flex;
  flex-wrap: wrap;
  color: #999;
}

.legal__links {
  display: flex;
  align-items: center;
}

.heart {
  color: #2f2f2f;
}

@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}

@media screen and (min-width: 40.375em) {
  .footer__nav > * {
    flex: 1;
  }

  .nav__item--extra {
    flex-grow: 2;
    padding-left: 22px;
  }

  .footer__addr {
    flex: 1 0px;
  }

  .footer__nav {
    flex: 2 0px;
  }
}

@media only screen and (max-width: 1051px) {
  h1 {
    font-size: 25px;
  }

  svg {
    padding: 0px !important;
  }

  .solo-card {
    position: relative;
    bottom: -6rem;
    height: 12rem;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    width: 309px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
    z-index: 10000;
    text-align: center;
  }
  .solo-card p {
    color: var(--Dark);
  }
  .button-sec {
    width: 235px;
    font-size: unset;
    padding: 10px;
  }
  .newsletter {
    width: 260px;
}
}
@media (prefers-color-scheme: light) {
    .footer {
      color: #ffffff;
      background-color: #000000;
    }
}
@media (prefers-color-scheme: dark) {
    .footer {
      color: white;
      background-color: #000000;
      }
      .input-default {
        background: whitesmoke;
      }
  }