@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
.hpp {
    text-align: center;
    font-family: 'Muli', sans-serif;
    letter-spacing: 0.1rem;
}

.contr {
    display: flex;
    flex-direction: row;
    margin: 5% auto;
    width: 100%;
    height: 430px;
    background: white;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
}

.item {
    width: 50%;
    position: relative;
}

.item-image {
    height: auto;
    width: 100%;
    object-fit: cover;
}

.overlay-effect {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.2;
    background-color: #303030;
    overflow: hidden;
    z-index: 1;
}

.item-details {
    position: absolute;
    bottom: 0;
    margin-bottom: 5px;
    margin-left: 20px;
    color: #84a17d;
    text-align: left;
}

.item-details__title {
    font-size: 22px;
}

.item-details__amount {
    font-weight: bolder;
}

.chckout {
    background: #84a17d;
    /* fallback for old browsers */
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 430px;
    width: 50%;
}

.checkout-form {
    padding: 20px 20px;
}

.checkout-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.checkout-field label {
    text-align: left;
    color: #e0eafc;
    font-size: 10px;
    margin-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.checkout-field input {
    background-color: transparent;
    border: 1px solid #cecece;
    border-radius: 5px;
    color: black;
    height: 35px;
}

.paystack-button {
    cursor: pointer;
    text-align: center;
    font-size: 10px;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    background-color: #bfbfbf;
    font-weight: bold;
    color: #e0eafc;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 45px;
    margin-top: 40px;
}
.checkout {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 2rem;
}
.checkout__title {
  margin-top: 2rem;
  font-size: 2.5rem;
  font-weight: 500;
}
.checkout__left {
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
  padding: 2.5rem;
  width: 100%;
  height: fit-content;
}

.checkout__left__title {
  font-size: 2rem;
  font-weight: 500;
}
.checkout__left__discription {
  font-size: 1.4rem;
  font-weight: 300;
}
.checkout__left__inputs {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  color: #000;
}
.checkout__left__inputs__button {
  width: 100%;
  margin-top: 2rem;
}
.checkout__left__input-short {
  width: 100%;
  color: black;
}
.checkout__left__inputs__two-coloum {
  display: flex;
  gap: 2rem;
}
.checkout__right {
  width: 50rem;
  padding: 2rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
  height: fit-content;
}

.checkout__right__product {
  position: relative;
  display: flex;
  justify-content: left;
  gap: 2rem;
}
.checkout__right__product__quantity {
  position: absolute;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
}
.checkout__right__product__name {
  font-size: 1.4rem;
  font-weight: 400;
}
.checkout__right__product__price {
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 1rem;
}
.checkout__right__title {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 2rem;
}
.checkout__right__box__products {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
  max-height: 30rem;
  overflow-y: scroll;
}
.checkout__right__product-image {
  width: 7rem;
  height: 6rem;
  object-fit: cover;
}
.checkout__right__subtotal {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 300;
}
.checkout__right__totalPrice {
  font-size: 1.8rem;
  font-weight: 500;
}
.checkout__right__line {
  border: none;
  width: 100%;
  height: 0.1rem;
  margin-top: 2rem;
  background-color: #e7e7e7;
}

@media screen and (max-width: 850px) {
  .checkout {
    flex-direction: column-reverse;
  }
  .checkout > div {
    width: 100%;
  }
}
@media screen and (max-width: 520px) {
  .checkout__left__inputs__two-coloum {
    flex-direction: column;
  }
  .checkout__left input {
    width: 100%;
  }
}
